In [1]:
import numpy as np
import pandas as pd
import glob
import cv2

In [2]:
path="F:/denoised/split/I/train_I"
files=glob.glob(path+'/*.png')
print(files)

In [3]:
np.shape(files)

In [4]:
df1=pd.read_csv("F:/4 class Diagnostics.csv")

In [5]:
df1

,FileName,Rhythm,Beat,PatientAge,Gender,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,MUSE_20180113_171327_27000,AFIB,RBBB TWC,85,MALE,117,234,114,356,496,81,-27,19,208,265,386
1,MUSE_20180112_073319_29000,SB,TWC,59,FEMALE,52,52,92,432,401,76,42,8,215,261,431
2,MUSE_20180111_165520_97000,SR,NONE,20,FEMALE,67,67,82,382,403,88,20,11,224,265,415
3,MUSE_20180113_121940_44000,SB,NONE,66,MALE,53,53,96,456,427,34,3,9,219,267,447
4,MUSE_20180112_122850_57000,AFIB,STDD STTC,73,FEMALE,162,162,114,252,413,68,-40,26,228,285,354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10641,MUSE_20181222_204306_99000,GSVT,NONE,80,FEMALE,196,73,168,284,513,258,244,32,177,261,319
10642,MUSE_20181222_204309_22000,GSVT,NONE,81,FEMALE,162,81,162,294,482,110,-75,27,173,254,320
10643,MUSE_20181222_204310_31000,GSVT,NONE,39,MALE,152,92,152,340,540,250,38,25,208,284,378
10644,MUSE_20181222_204312_58000,GSVT,NONE,76,MALE,175,178,128,310,529,98,-83,29,205,269,360
10645,MUSE_20181222_204314_78000,GSVT,NONE,75,MALE,117,104,140,312,435,263,144,19,208,278,364

In [6]:
X=[]
c=0
for file in files:
    path= file.split('\\')[-1]
    path= path.split('.')[0]
    b= cv2.imread(file)
    b= cv2.resize(b, (128, 128), interpolation = cv2.INTER_AREA)
    X.append(b)
    a=0
    for i in df1['FileName']:
        if i==path:
            df=df1.iloc[[a]]
            k=df['Rhythm']
            k.to_numpy()
            if c==0:
                y=k
                c+=1
            else:
                y=np.append(y, k)
                c+=1
        a+=1

In [7]:
X_train = np.asarray(X)
print(X_train.shape)

(8516, 128, 128, 3)

In [8]:
c

8516

In [9]:
y_train=np.reshape(y,(c,1))
y_train=np.asarray(y_train)
print(y_train.shape)

(8516, 1)

In [10]:
path="F:/denoised/split/I/test_I"
files=glob.glob(path+'/*.png')
print(files)

In [11]:
np.shape(files)

(2130,)

In [15]:
X=[]
c=0
for file in files:
    path= file.split('\\')[-1]
    path= path.split('.')[0]
    b= cv2.imread(file)
    b= cv2.resize(b, (128, 128), interpolation = cv2.INTER_AREA)
    X.append(b)
    a=0
    for i in df1['FileName']:
        if i==path:
            df=df1.iloc[[a]]
            k=df['Rhythm']
            k.to_numpy()
            if c==0:
                y=k
                c+=1
            else:
                y=np.append(y, k)
                c+=1
        a+=1

In [16]:
X_test = np.asarray(X)
print(X_test.shape)

(2130, 128, 128, 3)

In [17]:
c

2130

In [18]:
y_test=np.reshape(y,(c,1))
y_test=np.asarray(y_test)
print(y_test.shape)

(2130, 1)

In [19]:
from numpy import savez_compressed

In [20]:
filename = 'F:/denoised/I_128.npz' 
savez_compressed(filename, X_train=X_train, y_train=y_train, X_test=X_test, y_test=y_test)