In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("F:/denoised/split/I/mlp/train_mlp.csv")

In [3]:
df2=pd.read_csv("F:/denoised/split/I/mlp/test_mlp.csv")

In [4]:
df1=df1.drop([ 'Unnamed: 0'], axis=1)
df2=df2.drop([ 'Unnamed: 0'], axis=1)

In [5]:
df1

,FileName,Rhythm,Beat,PatientAge,Gender,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,MUSE_20180111_155115_19000,GSVT,AQW RBBB,88,MALE,126,126,178,334,483,243,45,21,167,256,334
1,MUSE_20180111_155154_74000,AFIB,AQW LVHV TWC,83,MALE,110,258,102,276,373,84,20,18,222,273,360
2,MUSE_20180111_155203_15000,AFIB,NONE,86,MALE,59,416,78,410,405,82,60,10,221,260,426
3,MUSE_20180111_155249_70000,GSVT,ALS RBBB,90,MALE,117,117,144,354,493,-85,81,19,210,282,387
4,MUSE_20180111_155543_90000,GSVT,LVHV PWC STTC,55,MALE,102,102,92,370,482,0,252,17,216,262,401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8511,MUSE_20181222_204303_61000,GSVT,LVHV STTU TWC,36,MALE,151,151,88,274,434,67,12,25,218,262,355
8512,MUSE_20181222_204306_99000,GSVT,NONE,80,FEMALE,196,73,168,284,513,258,244,32,177,261,319
8513,MUSE_20181222_204309_22000,GSVT,NONE,81,FEMALE,162,81,162,294,482,110,-75,27,173,254,320
8514,MUSE_20181222_204310_31000,GSVT,NONE,39,MALE,152,92,152,340,540,250,38,25,208,284,378
8515,MUSE_20181222_204314_78000,GSVT,NONE,75,MALE,117,104,140,312,435,263,144,19,208,278,364

In [6]:
df2

,FileName,Rhythm,Beat,PatientAge,Gender,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,MUSE_20180111_155542_84000,AFIB,NONE,42,FEMALE,88,352,70,362,438,87,22,15,225,260,406
1,MUSE_20180111_160357_99000,SB,NONE,52,FEMALE,54,54,92,452,428,36,49,8,225,271,451
2,MUSE_20180111_160410_42000,AFIB,LVHV TWC VPB,81,MALE,96,120,94,292,368,12,88,16,222,269,368
3,MUSE_20180111_160457_24000,GSVT,STTC,73,FEMALE,108,108,68,320,428,59,42,18,229,263,389
4,MUSE_20180111_160706_92000,SB,NONE,56,FEMALE,58,58,80,468,459,72,49,10,217,257,451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,MUSE_20181222_204157_58000,GSVT,NONE,50,FEMALE,160,159,140,308,502,-8,136,26,220,290,374
2126,MUSE_20181222_204212_44000,GSVT,NONE,69,FEMALE,153,153,140,348,555,85,65,25,211,281,385
2127,MUSE_20181222_204236_34000,GSVT,NONE,56,MALE,108,108,18,470,629,0,47,18,240,249,475
2128,MUSE_20181222_204302_49000,GSVT,NONE,36,MALE,220,220,110,224,428,-77,79,36,212,267,324
2129,MUSE_20181222_204312_58000,GSVT,NONE,76,MALE,175,178,128,310,529,98,-83,29,205,269,360

In [7]:
df1=df1.drop([ 'FileName'], axis=1)
df1=df1.drop([ 'Beat'], axis=1)
df1=df1.drop([ 'PatientAge'], axis=1)
df1=df1.drop([ 'Gender'], axis=1)

In [8]:
df2=df2.drop([ 'FileName'], axis=1)
df2=df2.drop([ 'Beat'], axis=1)
df2=df2.drop([ 'PatientAge'], axis=1)
df2=df2.drop([ 'Gender'], axis=1)

In [9]:
df1

,Rhythm,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,GSVT,126,126,178,334,483,243,45,21,167,256,334
1,AFIB,110,258,102,276,373,84,20,18,222,273,360
2,AFIB,59,416,78,410,405,82,60,10,221,260,426
3,GSVT,117,117,144,354,493,-85,81,19,210,282,387
4,GSVT,102,102,92,370,482,0,252,17,216,262,401
...,...,...,...,...,...,...,...,...,...,...,...,...
8511,GSVT,151,151,88,274,434,67,12,25,218,262,355
8512,GSVT,196,73,168,284,513,258,244,32,177,261,319
8513,GSVT,162,81,162,294,482,110,-75,27,173,254,320
8514,GSVT,152,92,152,340,540,250,38,25,208,284,378
8515,GSVT,117,104,140,312,435,263,144,19,208,278,364

In [10]:
df2

,Rhythm,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,AFIB,88,352,70,362,438,87,22,15,225,260,406
1,SB,54,54,92,452,428,36,49,8,225,271,451
2,AFIB,96,120,94,292,368,12,88,16,222,269,368
3,GSVT,108,108,68,320,428,59,42,18,229,263,389
4,SB,58,58,80,468,459,72,49,10,217,257,451
...,...,...,...,...,...,...,...,...,...,...,...,...
2125,GSVT,160,159,140,308,502,-8,136,26,220,290,374
2126,GSVT,153,153,140,348,555,85,65,25,211,281,385
2127,GSVT,108,108,18,470,629,0,47,18,240,249,475
2128,GSVT,220,220,110,224,428,-77,79,36,212,267,324
2129,GSVT,175,178,128,310,529,98,-83,29,205,269,360

In [11]:
df1['Rhythm'].value_counts()

SB      3129
GSVT    1833
SR      1789
AFIB    1765
Name: Rhythm, dtype: int64

In [12]:
df2['Rhythm'].value_counts()

SB      760
GSVT    474
AFIB    460
SR      436
Name: Rhythm, dtype: int64

In [13]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [14]:
label = LabelEncoder()
df1['label'] = label.fit_transform(df1['Rhythm'])
df1.head()

,Rhythm,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset,label
0,GSVT,126,126,178,334,483,243,45,21,167,256,334,1
1,AFIB,110,258,102,276,373,84,20,18,222,273,360,0
2,AFIB,59,416,78,410,405,82,60,10,221,260,426,0
3,GSVT,117,117,144,354,493,-85,81,19,210,282,387,1
4,GSVT,102,102,92,370,482,0,252,17,216,262,401,1

In [15]:
df2['label'] = label.fit_transform(df2['Rhythm'])
df2.head()

,Rhythm,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset,label
0,AFIB,88,352,70,362,438,87,22,15,225,260,406,0
1,SB,54,54,92,452,428,36,49,8,225,271,451,2
2,AFIB,96,120,94,292,368,12,88,16,222,269,368,0
3,GSVT,108,108,68,320,428,59,42,18,229,263,389,1
4,SB,58,58,80,468,459,72,49,10,217,257,451,2

In [16]:
train_X = df1[['VentricularRate','AtrialRate','QRSDuration','QTInterval','QTCorrected','RAxis','TAxis','QRSCount','QOnset','QOffset','TOffset']]
train_y = df1['label']

In [17]:
test_X = df2[['VentricularRate','AtrialRate','QRSDuration','QTInterval','QTCorrected','RAxis','TAxis','QRSCount','QOnset','QOffset','TOffset']]
test_y = df2['label']

In [18]:
scaler = StandardScaler()

In [19]:
train_X = scaler.fit_transform(train_X)

In [20]:
train_X = pd.DataFrame(data = train_X, columns = ['VentricularRate','AtrialRate','QRSDuration','QTInterval','QTCorrected','RAxis','TAxis','QRSCount','QOnset','QOffset','TOffset'])

In [21]:
#scaled_X['label'] = y.values
train_X

,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,1.220546,0.564483,4.958830,-0.853270,1.222150,4.912425,0.011787,1.267828,-8.065604,-1.049215,-2.597597
1,0.755187,2.776929,0.627657,-1.832748,-1.543249,1.071217,-0.425324,0.738079,0.424277,0.990519,-1.726310
2,-0.728144,5.425159,-0.740082,0.430185,-0.738769,1.022900,0.274054,-0.674587,0.269915,-0.569277,0.485418
3,0.958781,0.413635,3.021200,-0.515519,1.473550,-3.011577,0.641228,0.914662,-1.428061,2.070378,-0.821512
4,0.522507,0.162221,0.057765,-0.245318,1.197010,-0.958101,3.631070,0.561495,-0.501892,-0.329309,-0.352358
...,...,...,...,...,...,...,...,...,...,...,...
8511,1.947669,0.983507,-0.170191,-1.866523,-0.009709,0.660522,-0.565200,1.974160,-0.193169,-0.329309,-1.893865
8512,3.256490,-0.323847,4.388939,-1.697648,1.976350,5.274803,3.491194,3.210242,-6.521989,-0.449293,-3.100262
8513,2.267603,-0.189759,4.047004,-1.528772,1.197010,1.699339,-2.086348,2.327327,-7.139435,-1.289183,-3.066751
8514,1.976754,-0.005389,3.477113,-0.751945,2.655130,5.081535,-0.110604,1.974160,-1.736784,2.310346,-1.123111
8515,0.958781,0.195743,2.793244,-1.224796,0.015431,5.395596,1.742748,0.914662,-1.736784,1.590440,-1.592266

In [22]:
test_X = scaler.fit_transform(test_X)

In [23]:
test_X = pd.DataFrame(data = test_X, columns = ['VentricularRate','AtrialRate','QRSDuration','QTInterval','QTCorrected','RAxis','TAxis','QRSCount','QOnset','QOffset','TOffset'])

In [24]:
test_X

,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,0.099612,4.183587,-1.220831,-0.348604,0.127003,1.174439,-0.407782,0.189198,0.930347,-0.566437,-0.156642
1,-0.879205,-0.641191,0.058078,1.170821,-0.139017,-0.085678,0.053191,-1.033046,0.930347,0.732283,1.368563
2,0.329922,0.427384,0.174342,-1.530378,-1.735136,-0.678675,0.719041,0.363804,0.440933,0.496152,-1.444592
3,0.675387,0.233098,-1.337095,-1.057669,-0.139017,0.482610,-0.066321,0.713016,1.582900,-0.212241,-0.732830
4,-0.764050,-0.576428,-0.639509,1.440941,0.685644,0.803816,0.053191,-0.683833,-0.374758,-0.920633,1.368563
...,...,...,...,...,...,...,...,...,...,...,...
2125,2.172401,1.058815,2.848424,-1.260258,1.829530,-1.172838,1.538550,2.109866,0.114656,2.975526,-1.241232
2126,1.970880,0.961672,2.848424,-0.584959,3.239435,1.125023,0.326360,1.935259,-1.353587,1.912937,-0.868404
2127,0.675387,0.233098,-4.243706,1.474706,5.207982,-0.975173,0.019045,0.713016,3.377420,-1.865157,2.182005
2128,3.899725,2.046437,1.104457,-2.678388,-0.139017,-2.877703,0.565384,3.855927,-1.190449,0.260021,-2.935904
2129,2.604232,1.366435,2.150837,-1.226493,2.547783,1.446229,-2.200456,2.633684,-2.332416,0.496152,-1.715740

In [26]:
from numpy import savez_compressed

In [27]:
filename = 'F:/denoised/split/I/mlp/train_X_dia.npz'
savez_compressed(filename, train_X)

In [28]:
filename = 'F:/denoised/split/I/mlp/train_y_dia.npz'
savez_compressed(filename, train_y)

In [29]:
filename = 'F:/denoised/split/I/mlp/test_X_dia.npz'
savez_compressed(filename, test_X)

In [30]:
filename = 'F:/denoised/split/I/mlp/test_y_dia.npz'
savez_compressed(filename, test_y)